.Input {
    margin-bottom: 15px;
    label {
        margin-bottom: 3px;
        padding: 0;
        display: block;
        font-weight: bold;
    }
    input {
        display: block;
        width: 100%;
        border: 1px solid #bebebe;
        padding: 7px;
        margin: 0 0 5px;
        outline: none;
        transition: all .3s;
    }
    span {
        color: red;
        font-size: 12px;
        font-weight: bold;
    }
    &.invalid {
        label {
            color: red;
        }
    }
}